<input
  data-test-legal-input
  class={{if changeset.error.legal 'is-error'}}
  id={{concat elementId "-legal-input"}}
  type="checkbox"
  onchange={{action (mut changeset.legal) value="target.checked"}} />

<label for={{concat elementId "-legal-input"}}>
  By submitting your information, you're agreeing to receive communications from New York Public Radio in accordance with our <a href="https://www.wnyc.org/terms/" target="_blank">Terms of Use</a>.
</label>
