{{!-- needed to allow overwriting hearken styles --}}
<div id="hearken-section__wrapper">

  {{!--
    hearken-chunk is a wrapper that gets a script added to it once a chunk is loaded.
  --}}
  <div class="hearken-section__chunk-wrapper" id="vote">
    {{#unless hasLoaded}}
      {{fa-icon class="hearken-section__loading" icon='spinner' prefix='fas' spin=true}}
    {{else}}
    <h3 class="hearken-section__header">
      {{nypr-svg icon="thumbs"}}
      <span>
        Vote on Questions
      </span>
    </h3>
    {{/unless}}
    <div id="hearken-chunk"></div>
  </div>

  <div class="hearken-section__flex-wrapper" id="ask">
    {{#unless testing}}
      <div class="hearken-section__submission-wrapper">
        {{nypr-svg icon="dialog"}}
        <script async src="https://modules.wearehearken.com/wnyc/embed/1770.js"></script>
      </div>
    {{/unless}}
    {{#unless testing}}
      <div class="hearken-section__list-wrapper"> <script async src="https://modules.wearehearken.com/wnyc/embed/1823.js"></script></div>
    {{/unless}}
  </div>
</div>
