<div class="hearken-section__chunk-wrapper">
  <iframe class="hearken-submission" srcdoc="<div> <script async src='https://modules.wearehearken.com/wnyc/embed/1770.js'></script> </div>" width="100%" height="470px" style="border: none;"></iframe>
  <iframe class="hearken-answer" srcdoc={{{chunk.content}}} width="100%" height="470px" style="border: none;"></iframe>
</div>
