<div id="hearken-section__wrapper"> <!--needed to allow overwriting hearken styles-->
  <div class="hearken-section__flex-wrapper">
    <div class="hearken-section__chunk-wrapper"></div>
    <!-- hearken-section__chunk-wrapper is a wrapper that gets a script
    added to it once a chunk is loaded. -->
    <div class="hearken-section__submission-wrapper"> <script async src="https://modules.wearehearken.com/wnyc/embed/1770.js"></script></div>
  </div>
  <div class="hearken-section__list-wrapper"> <script async src="https://modules.wearehearken.com/wnyc/embed/1823.js"></script></div>
</div>
