@mixin btn(
  $font-family: $font-opensans,
  $border-radius: 0,
  $background-color: transparent,
  $padding: 0,
  $color: inherit,
  $border: none,
  $font-size: 14px,
) {
  font-family: $font-family;
  color: $color;
  appearance: none;
  border: $border;
  border-radius: $border-radius;
  padding: $padding;
  background-color: $background-color;
  font-size: $font-size;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  text-decoration: none; // for links that want to look like buttons
}
