@mixin wrapper(
  $width: 666px,
  $padding: 0 32px,
  $margin: 0 auto,
) {
  max-width: $width;
  padding: $padding;
  margin: $margin;
}

@mixin section-layout {
  padding: 64px 32px;

  overflow: hidden;

  @include media(">=400px") {
    overflow: visible;
  }
}
