@mixin wrapper(
  $width: 666px,
  $padding: 0 32px,
  $margin: 0 auto,
) {
  max-width: $width;
  padding: $padding;
  margin: $margin;
}

@mixin section-layout {
  padding: 88px 16px 40px;

  @include media('>=medium') {
    padding-top: 75px;
  }
}
