<div class="opt-in-section__layout">
  <div class="opt-in-section__left">
    <h1 class="opt-in-section__title" id="updates">
      DON'T MISS A BEAT
    </h1>

    <p class="opt-in-section__blurb">
      We filter out the noise to give you the essential local and national 411 on politics today.
    </p>
  </div>

  <div class="opt-in-section__right">
    {{#liquid-if (eq step NEWSLETTER) use='crossFade'}}
      {{opt-in-section/form
        name='email'
        placeholder='Email Address'
        buttonText='Subscribe'
        validations=EMAIL_VALIDATIONS
        submit=(action submitEmail)
        onSuccess=(action (mut step) SMS)}}
    {{else if (eq step SMS)}}
      <p class="opt-in-section__header">
        You're in! Thanks for subscribing to the <strong>Politics Brief.</strong>
      </p>

      <p class="opt-in-section__blurb">
        You can also join <strong>Count Me In</strong>, a service from WNYC, for reminders and updates sent directly to your mobile device to make sure your voice is heard this election season. Message and data rates may apply.
      </p>

      {{opt-in-section/form
        name='sms'
        placeholder='Phone Number'
        buttonText='Sign Up for SMS'
        validations=SMS_VALIDATIONS
        submit=(action submitPhone)
        onSuccess=(action (mut step) DONE)}}
    {{else if (eq step DONE)}}
      <p class="opt-in-section__header">
        Awesome! You're on the list!
      </p>

      <p class="opt-in-section__blurb">
        You will begin to receive updates soon.
      </p>
    {{/liquid-if}}
  </div>
</div>
