{{#if hasBlock}}
  {{yield}}
{{else}}
  <div class="attribution-block__image-container">
    <img src="/assets/images/logo.png">
  </div>
  <div class="attribution-block__text">
    <p class="attribution-block__title">{{title}}</p>
    <p class="attribution-block__name">{{name}}</p>
  </div>
{{/if}}