*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-family: $font-opensans;
  font-size: 16px;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
