@import "mixins/fonts";

// extra small < 360px
$small: 360px;
$medium: 1024px;
$large: 1440px;
$breakpoints: (small: $small, medium: $medium, large: $large);

@import "_include-media";

// override values defined by ill-scoped `nypr-ui`
@import "mixins/ui-compat";
@import "nypr-ui/hero";

// define some things that the hero sass partial requires
@import "nypr-ui/button-classes";
@import "nypr-audio-services/listen-button";

@import "mixins/vars";

@import "base";

// COMPONENTS
@import "components/share-icons";
@import "components/page-section";
@import "components/pill-dropdown";
@import "components/media-object";
@import "components/story-tease";
@import "components/episode-tease";

// PAGE SECTIONS
@import "components/page-intro";
@import "components/real-answers";
@import "components/opt-in-section";
@import "components/listen-section";
@import "components/read-section";
@import "components/vote-section";
@import "components/site-footer";
@import "components/opt-in";

@import "ember-basic-dropdown";
@import "nypr-player";
@import "nypr-audio-services/text-crawl";
@import "nypr-ui/brand-header";

// HELPER CLASSES
.medium-and-up {
  @include media('<medium') {
    display: none;
  }
}

.below-medium-only {
  @include media('>=medium') {
    display: none;
  }
}
