@import "../mixins/buttons";
@import "../mixins/layout";

.episode-tease {
  color: black;
  background-color: white;
  display: flex;
  flex-direction: column;

  &__top {
    height: 111px;
    position: relative;

    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;

    &:after {
      content: '';
      z-index: 0;
      background-image: linear-gradient(265deg, rgba(0, 0, 0, 0.69), rgba(0, 0, 0, 0.6));
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__logo {
    position: absolute;
    z-index: 1;

    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);

    width: 80px;
    height: 80px;
    left: 0;
    right: 0;
    bottom: -20px;
    margin: auto;
  }


  &__bottom {
    flex: 1;
    padding: 40px 24px 24px;

    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.43;
    color: $darkgray;
    margin-bottom: 16px;

    @include media('>=medium') {
      font-size: 18px;
      line-height: 1.5;
    }
  }

  &__link {
    margin-bottom: 16px;
    text-transform: uppercase;
    line-height: 1.67;
    font-size: 12px;

    &.no-margin {
      margin: 0;
    }

    a {
      text-decoration: none;
      color: $blue;

      transition: opacity 125ms ease;

      &:hover {
        opacity: 0.6;
      }
    }

    button {
      @include btn(
        $color: $blue,
      );
      text-transform: uppercase;
      margin: 0 auto;
    }

    @include media('>=medium') {
      letter-spacing: 1.7px;
      line-height: 2.33;
    }
  }

  &__body {
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 1.57;

    > p {
      margin: 0;
    }
  }

  &__footer {
    margin-top: auto;
  }
}

.episode-subscribe {
  @include wrapper($width: 185px, $padding: 0);

  &__list {
    margin: 0;
    padding: 8px;
    list-style: none;
  }

  &__item {
    text-align: center;
    a {
      text-decoration: none;
      color: black;
      display: block;

      font-size: 14px;
      font-weight: 600;
      line-height: 2.21;
      color: $lightblue;
    }
  }

}

.live-box {
  display: inline-block;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  border: 2px solid black;
  padding: 3px 4px;
  line-height: 0.75;
}

.episode-listen.listen-button {
  line-height: 1.5; // align with title

  @include btn-size(26px);

  svg .outer {
    fill: $gray;
  }

  .listen-spinner {
    &:before {
      width: 10px;
      height: 10px;
      border-width: 3px;
    }
    &:after {
      width: 20px;
      height: 20px;
      border-width: 3px;
    }
  }
}
