@import "../mixins/layout";

.episode-tease {
  color: black;
  text-align: left;
  background-color: white;
  padding: 32px 24px;

  &__top {
    margin-bottom: 16px;
  }

  &__title {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.43;
    color: $darkgray;

    @include media('>=medium') {
      font-size: 18px;
      line-height: 1.5;
    }
  }

  &__link {
    margin-bottom: 8px;

    a {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 1.67;
      color: $blue;

      @include media('>=medium') {
        letter-spacing: 1.7px;
        line-height: 2.33;
      }
    }
  }

  &__body {
    margin: 0;
    font-size: 14px;
    line-height: 1.57;
  }
}

.episode-subscribe {
  @include wrapper($width: 185px, $padding: 0);

  &__list {
    margin: 0;
    padding: 8px;
    list-style: none;
  }

  &__item {
    text-align: center;
    a {
      text-decoration: none;
      color: black;
      display: block;

      font-size: 14px;
      font-weight: 600;
      line-height: 2.21;
      color: $lightblue;
    }
  }

}

.live-box {
  display: inline-block;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  border: 2px solid black;
  padding: 3px 4px;
  line-height: 0.75;
}

.episode-listen.listen-button {
  line-height: 1.5; // align with title

  @include btn-size(26px);

  svg .outer {
    fill: $gray;
  }

  .listen-spinner {
    &:before {
      width: 10px;
      height: 10px;
      border-width: 3px;
    }
    &:after {
      width: 20px;
      height: 20px;
      border-width: 3px;
    }
  }
}
