.episode-tease {
  color: black;
  text-align: left;
  background-color: white;
  padding: 32px 24px;

  &__top {
    margin-bottom: 16px;
  }

  &__title {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.43;
    color: $darkgray;

    @include media('>=medium') {
      font-size: 18px;
      line-height: 1.5;
    }
  }

  &__link {
    margin-bottom: 8px;

    a {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 1.67;
      color: $blue;

      @include media('>=medium') {
        letter-spacing: 1.7px;
        line-height: 2.33;
      }
    }
  }

  &__body {
    margin: 0;
    font-size: 14px;
    line-height: 1.57;
  }
}

.episode-subscribe {

  &__list {
    margin: -8px;
    padding: 0;
    list-style: none;
  }

  &__item {
    border-bottom: 1px solid $gray;

    &:last-child {
      border: none;
    }

    svg {
      margin-right: 8px;
    }

    a {
      text-decoration: none;
      color: black;
      padding: 16px 24px;
      display: block;
    }
  }

}

.live-box {
  display: inline-block;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  border: 2px solid black;
  padding: 3px 4px;
  line-height: 0.75;
}
