@import "../mixins/buttons";
@import "../mixins/vars";
@import "../mixins/text";
@import "../mixins/layout";

.hearken-section {
  @include section-text($color: black);

  padding: 10px 16px 0;
  margin: 0 auto 60px;
  max-width: 800px;

  a {
    text-decoration: none;
  }

  &__chunk-wrapper {
    margin-bottom: 72px;
    border: solid 2px $lightgray;
  }

  &__submission-wrapper, &__list-wrapper {
    margin-bottom: 45px;

    @include media(">=medium") {
      margin: 0;
      align-self: stretch;
      flex-basis: 48%;
      margin-bottom: 30px;
    }
  }

  &__flex-wrapper{

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border: solid 2px $lightgray;
    padding: 30px 15px 10px 0px;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      background-color: $red;
      height: 4px;
      width: 69px;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
    }

    @include media('>=medium'){
      flex-direction: row;
    }
  }

}

// hearken module styles
.hearken-section #hearken-section__wrapper {

  // general hearken styles
  .embed-content-container{
    padding: 0px 25px 0px 25px!important;
  }

  .header--text{
    font-family: $font-opensans !important;
    font-weight: bold !important;
  }

  .section-header-group__section-header {
    font-family: $font-opensans !important;
    color: black !important;
    font-weight: bold !important;
  }
  .section-header-group__section-subheader {
    font-family: $font-opensans !important;
    color: black !important;
  }

  .hearken-badge {
    text-align: center !important;
  }

  // styling the voting module
  .hearken-section__chunk-wrapper {
    .question--voteable {
      display: flex !important;
      font-family: $font-opensans !important;
    }
    .vote-icon svg {
      height: 30px;
      width: 30px;
    }

  }

  // styling the submission form
  .text-input--long, .text-input__input {
    border:solid 2px $lightgray !important;
    &::placeholder {
      font-family: $font-opensans !important;
      color: black !important;
      font-size: 14px;
    }
  }

  .button, .button:hover {
    border-radius: 30px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-size: 14px !important;
    font-family: $font-opensans !important;
    margin: 30px auto 10px auto !important;
    max-width: 280px !important;
    width: 100% !important;
  }

  .checkbox__text p {
    font-family: $font-opensans !important;
    color: black !important;
    font-size: 14px !important;
  }

  // styling the question list
  .hearken-section__list-wrapper {
    position: relative;
    margin-left: 15px;

    @include media('>=medium'){
      margin-left: 0px;
    }

    [id*=hearken-embed] {
      height: 100%;

      > div {
        height: 100%;
      }
    }

    .hearken-embed.cleanslate {
      display: flex !important;
      flex-direction: column;
    }

    .header--text {
      bottom: 100% !important;

      color: $gray !important;
      font-size: 12px !important;
      text-align: left !important;
      text-transform: uppercase !important;
      font-weight: bold !important;
      letter-spacing: 1.7px !important;
      padding: 0 0 8px 0 !important;
    }

    .embed-content-container {
      flex: 1;
      border: solid 1px $lightgray !important;
      padding: 0 !important;
    }

    .section-header-group {
      display: none !important;
    }

    .question {
      padding: 16px 15px !important;
      border-bottom: solid 1px $lightgray !important;

      &:last-child {
        border-bottom: none !important;
      }

      &__question-text {
        font-family: $font-opensans !important;
        font-size: 14px !important;
        color: $darkgray !important;
        font-weight: bold !important;
        margin-bottom: 10px !important;
      }
      &__question-asker{
        font-family: $font-opensans !important;
        font-size: 12px !important;
        color: $gray !important;
      }
    }
  }
}
