@import "../mixins/text";
@import "../mixins/layout";
@import "../mixins/buttons";

.listen-section {
  @include section-layout;
  @include section-text;

  background-color: $blue;

  &__title {
    @include section-title;
  }

  &__blurb {
    @include wrapper($width: 816px, $padding: 0 16px);
    @include section-text;
    margin-bottom: 24px;

    @include media('>=medium') {
      margin-bottom: 64px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
  }

  &__button {
    @include btn;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.93;

    border: 2px solid white;
    border-radius: 20px;

    flex-basis: 48%;
  }

  &__episodes {
    display: flex;
    justify-content: space-around;
    align-items: stretch;

    flex-wrap: wrap;
  }

  &__item {
    flex-basis: 304px;
    margin-bottom: 24px;

    display: flex;

    &:last-child {
      margin-bottom: 0;
    }

    @include media('>=medium') {
      margin-bottom: 0;
    }

    > * {
      flex: 1;
    }
  }
}
