@import "../mixins/text";
@import "../mixins/layout";
@import "../mixins/buttons";

.listen-section {
  @include section-layout;
  @include section-text;

  background-color: $blue;
  --gradient: #{$blue};
  --transparent-gradient: #{rgba($blue, 0)};

  @include media(">=medium") {
    padding-bottom: 40px; // compensate for added margins on listen section items
  }

  &__title {
    @include section-title;
  }

  &__blurb {
    @include wrapper($width: 816px, $padding: 0 16px);
    @include section-text;
    margin-bottom: 24px;

    @include media('>=medium') {
      margin-bottom: 64px;
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
  }

  &__button {
    @include btn;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.93;

    border: 2px solid white;
    border-radius: 20px;

    flex-basis: 48%;
  }

  &__episodes {
    display: flex;
    justify-content: space-around;
    align-items: stretch;

    flex-wrap: wrap;

    display: grid;
    grid-template-columns: 304px;
    column-gap: 24px;
    row-gap: 24px;
    grid-row-gap: 24px; // for legacy support

    max-width: 640px;
    margin: 0 auto;

    @include media(">=medium") {
      grid-template-columns: repeat(2, 304px);

      &:before {
        order: 1;
        content: '';
        background-color: rgba(black, 0.08);
      }
    }

    @include media(">=large") {
      grid-template-columns: repeat(3, 304px);
      max-width: 960px;

      &:after {
        order: 2;
        content: '';
        background-color: rgba(black, 0.08);
      }
    }
  }

  &__item {
    flex-basis: 304px;
    min-height: 367px;

    display: flex;
    order: 0;

    &:last-child {
      margin-bottom: 0;
    }

    > * {
      flex: 1;
    }
  }

  .live-radio {

    &__show-title {
      font-weight: 600;
      font-style: italic;
      padding-left: 8px;
    }

    &__episode-title {
      margin-top: 24px;
    }

    .episode-tease__link button {
      @include media('>=medium'){
        letter-spacing: 1.7px;
        line-height: 2.33;
      }
      margin-bottom: 16px;
      text-transform: uppercase;
      line-height: 1.67;
      font-size: 12px;
    }
  }
}
