@import "../mixins/text";
@import "../mixins/layout";
@import "../mixins/buttons";

.opt-in {
  &__header {
    @include section-title;
  }

  &__subheader {
    text-align: center;
  }

  &__legal-checkbox {
    display: flex;
    font-size: 12px;
    line-height: 1.33;
    margin: 0 auto;
    width: 207px;
  }

  &__formset {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 520px;  // TODO
    width: 90%;
    justify-content: center;
  }

  &__formset .svg-inline--fa {
    width: 25px;
  }

  &__form {
    display: flex;
    align-items: center;
  }

  &__email-input input, &__phone-input input {
    border: solid 2px #dddddd;
    height: 44px;
    margin: 3px;
    padding: 10px;
    width: 230px;
  }

  &__submit-button {
    @include btn;
    @include btn--blue;

    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    height: 40px;
    margin: 0 auto;
    width: 280px;
  }
}
