@import "../mixins/text";
@import "../mixins/vars";
@import "../mixins/layout";
@import "../mixins/buttons";

.opt-in {
  background-color: white;
  --gradient: white;

  &__header {
    @include section-title($color: black, $stripes: false);
    margin-bottom: 24px;

    @include media('>=medium') {
      max-width: 430px;
    }
  }

  &__subheader {
    color: $darkgray;
    font-size: 14px;
    margin: 17px auto;
    text-align: center;
    width: 90%;

  }

  &__legal-checkbox {
    display: flex;
    font-size: 12px;
    line-height: 1.33;
    margin-bottom: 28px;
    margin-left: auto;
    margin-right: auto;
    width: 207px;
    color: $darkgray;

    @include media('>=medium') {
      width: 522px;
      font-size: 14px;
    }
  }

  &__legal-checkbox label {
    margin-left: 5px;

  }

  &__legal-checkbox a {
    color: $darkgray;
  }

  &__formset {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 590px;  // TODO
    width: 90%;
    justify-content: space-evenly;
  }

  &__form {
    display: flex;
    flex: 0 0 45%;

    @include media('<medium') {
      flex-grow: 1;
    }
  }

  &__form .has-error .nypr-input {
    border: solid 2px $error-red;
  }

  &__form .nypr-input-error {
    color: $error-red;
    font-size: 14px;
    font-weight: 600;
    font-style: italic;
  }

  &__form .nypr-input-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100%;
  }

  &__formset .svg-inline--fa {
    width: 25px;
    margin-top: 17px;
  }

  &__formset .fa-envelope {
    width: 24px;
    height: 20px;
  }

  &__formset .fa-mobile-alt {
    width: 24px;
    height: 26px;
  }

  &__email-input input, &__phone-input input {
    border: solid 2px #dddddd;
    height: 44px;
    margin: 3px;
    padding: 10px;
    display: flex;
    flex-grow: 1;
    font-size: 14px;
  }

  &__submit-button {
    @include btn;
    @include btn--blue;

    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    height: 40px;
    margin-bottom: 75px;
    margin-left: auto;
    margin-right: auto;
    width: 280px;

    &:disabled {
      @include btn-disabled;
      pointer-events: none;
    }
  }
}
