@import "../mixins/buttons";
@import "../mixins/layout";

.page-intro {
  font-weight: 600;
  text-align: center;
}

.intro-links {
  display: flex;
  justify-content: space-between;

  flex-basis: 100%;

  > a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.43;
    font-weight: 600;

    @include media(">=medium") {
      padding: 0 16px;
    }
  }
}

.intro-share {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;

  &__label  {
    margin-right: 8px;
  }

  .share-icon {
    width: 30px;
    height: 30px;
    font-size: 12px;
    border-radius: 50%;
    border: solid 2px rgba(white, 0.5);
    padding: 0;
  }

  .share-icon__fb-post {
    font-size: 14px;
  }

  @include media('>=medium') {
    margin-right: 24px;
  }
}

.intro-donate {
  font-family: $font-montserrat;
  font-size: 14px;
  font-style: italic;
  line-height: 1.43;
  text-transform: uppercase;

  padding-bottom: 5px;
}

.header-blurb {
  font-size: 16px;
  margin: 0 auto 32px;
  line-height: 1.56;
  font-weight: 600;
}

.page-intro__info {
  font-size: 14px;
  font-weight: 600;
  @include wrapper(
    $width: 255px,
    $padding: 0,
  );

  > a {
    @include btn(
      $color: white,
      $border: 2px solid white,
      $border-radius: 20px,
      $padding: 6px,
    );

    font-size: 14px;
    font-weight: 600;
    line-height: 1.93;
  }
}

.page-intro__footer {
  > .down-arrow {
    fill: white;
  }
}

// nypr-ui overrides
.page-intro {
  .hero-headline {
    max-width: 100%;

    @include media('<medium') {
      margin: 0;
    }
  }

  .hero-top {
    height: 44px;
    padding-bottom: 0;
    margin-bottom: 54px;

    &__left {
      flex-basis: 100%;

      @include media('>=medium') {
        flex-basis: auto;
      }
    }

    &__right {
      display: none;

      @include media(">=medium") {
        display: flex;
      }
    }
  }

  > .image-container {
    margin-bottom: 0;
  }

  > .image-container:before {
    content: '';
    display: block;
    position: absolute;
    z-index: $zIndex--heroGradient;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/assets/images/intro-banner.jpg") !important;
    opacity: 0.5;

    filter: blur(4.7px);
  }

  > .image-container:after {
    content: '';
    display: block;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: -1;
    background-color: black;
  }

  .page-intro__blurb {
    @include wrapper(
      $width: 560px,
      $padding: 0 20px,
      $margin: 0 auto 25px
    );
  }

  .page-intro__footer {
    justify-content: center;
    margin-bottom: 24px;

    @include media('>=medium') {
      margin-bottom: auto;
    }
  }

  &.stuck {
    min-height: 0;

    .image-container {
      height: 60px;
      padding-top: 0;
      padding-bottom: 0;

      @include media(">=medium") {
        align-items: flex-start;
      }
    }

    .hero-headline {
      display: none;
    }

    .hero-top {
      margin: 0;
      flex-basis: 100%;

      @include media(">=medium") {
        height: 44px;

        > .hero-top__right {
          display: flex;
        }
      }
    }
  }
}
