@import "../mixins/buttons";

.page-section {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

.page-section,
.page-section__tease {
  background-color: inherit;
}

.page-section__tease.gradient {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60%;
    background-image: linear-gradient(to bottom, var(--transparent-gradient), var(--gradient) 70%, var(--gradient));
  }

  &.is-open:after {
    display: none;
  }
}

.page-section__tease {
  margin-bottom: 24px;
}

.page-section__toggle {
  @include btn(
    $border: solid 2px currentColor,
    $border-radius: 50%,
  );
  height: 30px;
  width: 30px;

  svg {
    transition: transform 125ms ease;
    fill: currentColor;
    width: 15px;
    height: 8px;
  }

  @include media('>=medium') {
    display: none;
  }
}

.page-section__footer {
  display: none;
  justify-content: center;
}

.page-section.is-open .page-section__toggle svg {
  transform: rotate(180deg);
}
