@import "../mixins/buttons";

.pill-dropdown__button {
  @include btn(
    // offset right padding to compensate for down arrow
    $padding: 8px 32px 8px 24px,
    $border-radius: 20px,
    $border: 2px solid $warmgray,
  );

  width: 100%;

  font-size: 14px;
  font-weight: 600;
  line-height: 1.57;

  position: relative;

  // downward blue arrow
  &:after {
    content: '';
    height: 0;
    width: 0;

    position: absolute;

    top: 0;
    bottom: 0;
    right: 16px;
    margin: auto;

    border: solid transparent;
    border-width: 6px 5px 0 5px;
    border-top-color: $lightblue;
  }
}

.pill-dropdown__content {

  // upward facing arrow
  &:after {
    content: '';
    height: 0;
    width: 0;

    position: absolute;

    top: -20px;
    right: 12px;

    border: solid transparent;
    border-width: 11px;
    border-bottom-color: white;
  }

  // fake element that makes it look like there's a border around the arrow
  &:before {
    content: '';
    height: 20px;
    width: 20px;

    position: absolute;

    top: -6px;
    right: 13px;

    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);

    transform: rotate(45deg);

    z-index: -1;
  }
}

// need this nested element so the fake arrows can be hidden
.pill-dropdown__wrapper {
  background: white;
  padding: 8px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);

  @include media('>=medium') {
    padding: 16px;
  }
}
