@import "../mixins/buttons";

.pill-dropdown__button {
  @include btn;

  width: 100%;

  font-size: 14px;
  font-weight: 600;
  line-height: 1.57;

  border: 2px solid $warmgray;
  border-radius: 20px;
  padding: 8px 16px;

  position: relative;

  // downward blue arrow
  &:after {
    content: '';
    height: 0;
    width: 0;

    position: absolute;

    top: 0;
    bottom: 0;
    right: 16px;
    margin: auto;

    border: solid transparent;
    border-width: 6px 5px 0 5px;
    border-top-color: $lightblue;
  }
}

.pill-dropdown__content {

  // upward facing arrow
  &:after {
    content: '';
    height: 0;
    width: 0;

    position: absolute;

    top: -20px;
    right: 12px;

    border: solid transparent;
    border-width: 11px;
    border-bottom-color: white;
  }

  // fake element that makes it look like there's a border around the arrow
  &:before {
    content: '';
    height: 20px;
    width: 20px;

    position: absolute;

    top: -6px;
    right: 13px;

    background-color: $gray;

    transform: rotate(45deg);

    z-index: -1;
  }
}

// need this nested element so the fake arrows can be hidden
.pill-dropdown__wrapper {
  background: white;
  padding: 8px;

  border-radius: 6px;
  border: 1px solid $gray;

  @include media('>=medium') {
    padding: 16px;
  }
}
