@import "../mixins/buttons";
@import "../mixins/vars";
@import "../mixins/text";
@import "../mixins/layout";

.hearken-q-and-a {
  @include section-text($color: $darkgray);
  padding: 40px 16px 0;
  margin: 0 auto 16px;
  max-width: 800px;

  &__producer-block {
    border: solid 2px #ffffff;
    background-color: $blue;
    padding-top: 20px;
    margin-bottom: 25px;

    &-title {
      background-color:inherit;
      @include section-title($color: white, $font-style: normal);
      margin: 0 50px;
      @include media('>=medium'){
        display: none;
      }
    }
    &-title2 {
      @include section-title($color: white, $font-style: normal);
      margin: 0 0 30px 0;
      &:after, &:before{
        display: none;
      }
      @include media('>=medium'){
        display: none;
      }
    }
    &-title3 {
      @include section-title($color: white, $font-style: normal);
      @include media('<=medium'){
        display: none;
      }
    }
  }

  &__chunk-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;

    @include media('>=medium'){
      flex-direction: row;
    }
  }

  &__question-intro, &__answer-intro {
    @include subsubsection-title($color: white)
    margin-bottom: 0;
  }

  &__question {
    @include subsection-title($font-family: $font-opensans,
                              $font-size: 22px,
                              $font-style: normal,
                              $color: white);
    margin-top: 0;
  }

  &__question-wrapper,
  &__answer-wrapper {
    @include media(">=medium") {
      flex: 1;
    }
  }

  &__down-arrow {
    fill: white;
    margin-bottom: 30px;

    @include media('>=medium'){
      transform: rotate(-0.25turn);
      margin: 0 16px;
    }
  }

  &__answer {
    @include subsection-title($font-family: $font-opensans,
                              $font-size: 18px,
                              $font-style: normal,
                              $color: white,
                              $font-weight: bold);
    margin-top: 0;
  }

  &__button {
    @include btn($color: black,
                 $background-color: white,
                 $border-radius: 20px,
                 $padding: 10px 0);
    font-weight: 600;
    margin: 0 auto;
    max-width: 280px;
    width: 100%;
    margin-bottom: 40px;
  }

  &__explanation {
    color: $blue;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    line-height: 2.21;
  }

  &__loading {
    color: white;
    width: 100%;
    margin: 0 auto 20px;
    font-size: 32px;
  }
}
