@import "../mixins/text";
@import "../mixins/buttons";

.real-answers {
  flex-basis: 100%;

  &__title {
    @include section-title(
      $stripes: false,
      $font-style: normal,
    );

    &:before {
      @include stripes(
        $width: 24px,
        $right: auto,
        $left: 16px,
      );
    }

    &:after {
      @include stripes(
        $width: 24px,
        $left: auto,
        $right: 16px,
      );
    }
  }

  &__blurb {
    font-size: 16px;
    text-align: center;
    line-height: 1.56;
    font-weight: 600;
    margin: 0;
    margin-bottom: 40px;
  }

  &__items {
    margin: 0;
    padding: 0;
    list-style: none;

    @include media('>=medium') {
      display: flex;
      justify-content: space-between;
    }
  }

  &__item {
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid white;

    &:last-child {
      border-bottom: none;
    }

    .media-object__media {
      flex-basis: 52px;
    }

    @include media('>=medium') {
      border: none;
      flex-basis: 31%;

      .media-object {
        flex-wrap: wrap;
      }

      .media-object__media {
        flex-basis: 100%;
        margin-bottom: 16px;
      }
    }
  }

  &__link {
    @include btn(
      $background-color: white,
      $color: black,
      $border-radius: 20px,
      $padding: 8px,
    );
  }
}

.real-answers {
  .thumbs,
  .telescope {
    fill: white;
  }

  .thumbs {
    width: 52px;
  }

  .telescope {
    width: 37px;
  }

  @include media('>=medium') {
    .thumbs {
      width: 123px;
    }

    .telescope {
      width: 96px;
    }
  }
}
