@import "../mixins/text";
@import "../mixins/buttons";

.real-answers {
  padding: 24px;
  background-color: $blue;
  color: white;
  text-align: center;

  &__wrapper {
    @include wrapper(
      $width: 912px,
      $padding: 0,
    );
  }

  &__title {
    @include section-title;

    &:before {
      @include stripes(
        $width: 24px,
        $right: auto,
        $left: 16px,
      );
    }

    &:after {
      @include stripes(
        $width: 24px,
        $left: auto,
        $right: 16px,
      );
    }
  }

  &__blurb {
    font-size: 16px;
    text-align: center;
    line-height: 1.56;
    font-weight: 600;
    margin: 0;
    margin-bottom: 40px;

    a {
      color: white;
    }
  }

  &__items {
    margin: 0;
    padding: 0;
    list-style: none;

    @include media('>=medium') {
      display: flex;
      justify-content: space-between;
    }
  }

  &__item {
    padding-bottom: 24px;
    margin-bottom: 24px;
    border-bottom: 1px solid white;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &:last-child {
      border-bottom: none;
    }

    .media-object__media {
      flex-basis: 52px;
    }

    @include media('>=medium') {
      border: none;
      flex-basis: 31%;

      .media-object {
        flex-wrap: wrap;
      }

      .media-object__media {
        flex-basis: 100%;
        margin-bottom: 16px;
      }
    }
  }

  &__link {
    @include btn(
      $background-color: white,
      $color: black,
      $border-radius: 20px,
      $padding: 8px,
    );

    font-weight: 600;
    font-size: 12px;

    @include media(">=400px") {
      font-size: 14px;
    }
  }
}

.real-answers {
  .thumbs,
  .dialog,
  .light-bulbs {
    fill: white;
  }

  .dialog {
    width: 50px;
  }

  .thumbs {
    width: 52px;
  }

  .light-bulbs {
    width: 64px;
  }

  @include media('>=medium') {
    .dialog {
      width: 101px;
    }

    .thumbs {
      width: 86px;
    }

    .light-bulbs {
      width: 105px;
    }
  }
}
