@import "../mixins/buttons";
@import "../mixins/vars";
@import "../mixins/text";
@import "../mixins/layout";
@import "../mixins/fonts";

.hearken-related-questions {
  @include section-layout();
  @include section-text($color: black);

  &__title {
    @include subsubsection-title($color: $gray, $text-align: left);
  }

  &__questions {
    text-align: left;
    article {
      text-align: left;
    }

  }

  &__question {
    margin: 40px 0;

  }

}
