@import "../mixins/buttons";

.share-icons {
  display: flex;
}

.share-icon {
  @include btn;
  color: inherit;
  padding: 8px;
  text-align: center;
  font-size: 28px;

  margin-right: 8px;

  transition: border-color 125ms ease;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    border-color: rgba(white, 0.5);
  }
}
