@import "../mixins/layout";
@import "../mixins/buttons";

.site-footer {
  padding: 56px 0 132px; // compensate for the player
  background-color: $offwhite;

  text-align: center;

  &__wrapper {
    @include wrapper($width: 400px);
    display: flex;
    flex-wrap: wrap;

    @include media(">=medium") {
      max-width: 1060px;
    }
  }

  &__top {
    flex-basis: 100%;

    @include media('>=medium') {
      flex: 2;
      margin-right: 128px;

      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }

  &__bottom {
    flex-basis: 100%;

    @include media(">=medium") {
      flex-basis: 270px;
    }
  }

  &__brand {
    flex-basis: 100%;
    position: relative;

    > img {
      position: absolute;
      left: 0;
      right: 0;
      top: -87px;
      margin: auto;

      max-width: 60px;
    }
  }

  &__title {
    font-family: $font-montserrat;
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    line-height: 1.5;
    margin: 0;
    margin-bottom: 16px;

    @include media('>=medium') {
      text-align: left;
    }
  }

  &__blurb {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    line-height: 1.57;
    margin-top: 0;
    margin-bottom: 32px;

    @include media('>=medium') {
      text-align: left;
    }
  }

  &__logos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    margin-bottom: 24px;

    .gothamist {
      width: 54px;
    }

    .wnyc {
      width: 65px;
      fill: $red;
    }

    .studios {
      width: 61px;
    }

    @include media('>=medium') {
      margin-bottom: 16px;

      .gothamist {
        width: 54px;
      }

      .wnyc {
        width: 61px;
      }

      .studios {
        width: 61px;
      }
    }
  }

  &__logo {
    margin-right: 48px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.site-footer__donate {
  margin-bottom: 32px;
}

.site-footer__donate-link {
  @include btn(
    $color: white,
    $background-color: $red,
    $border-radius: 20px,
    $padding: 8px,
  );
  font-weight: 600;
}

.site-footer__links {
  flex-basis: 100%;
  margin: 0;
  padding: 0;
  list-style: none;

  @include media('>=medium') {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    > .site-footer__link {
      padding: 0 10px;
    }
  }
}

.site-footer__link > a {
  text-transform: uppercase;
  text-decoration: none;
  color: $lightblue;
  font-size: 12px;
  font-weight: 600;
  line-height: 2.33;
  letter-spacing: 1.7px;

  transition: opacity 125ms ease;

  &:hover {
    opacity: 0.6;
  }
}

.footer-share {
  flex-basis: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;

  font-size: 14px;

  @include media(">=medium") {
    justify-content: flex-start;
    flex-basis: auto;
  }

  .share-icons {
    flex-basis: 120px;
    justify-content: space-between;
  }

  .share-icon {
    width: 30px;
    height: 30px;
    font-size: 12px;
    border-radius: 50%;
    border: solid 1px $lightgray;
    padding: 0;
  }

  .share-icon__fb-post {
    font-size: 14px;
  }

  &__label  {
    font-size: 14px;
    color: $gray;
    margin-right: 16px;
  }
}
