.story-tease {
  text-align: center;

  &.left {
    text-align: left;
  }

  &__brand {
    font-size: 12px;
    font-weight: 600;
    line-height: 1.83;
    color: $gray;
    letter-spacing: 1.7px;

    text-transform: uppercase;

    @include media('>=medium') {
      margin-bottom: 16px;
    }
  }

  &__title {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;

    > a {
      display: block;
      text-decoration: none;
      color: black;
      transition: 125ms ease color;

      &:hover {
        color: $gray;
      }
    }
  }

  &.is-featured .story-tease__title {
    margin-bottom: 16px;
  }

  &__thumb {
    margin-bottom: 16px;

    &.round {
      border-radius: 7px;
      overflow: hidden;
    }

    .story-tease.left & {
      margin-bottom: 0;
      max-width: 200px;
      margin-right: 20px
    }
  }


  &__summary {
    color: $darkgray;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.57;
    margin: 0;

    @include media('>=medium') {
      font-size: 18px;
    }
  }

  &__date {
    font-size: 12px;
    line-height: 1.67;
    color: rgba(black, 0.6);

    @include media('>=medium') {
      font-size: 14px;

      .story-tease.no-image.is-featured & {
        margin-bottom: 40px;
      }
    }
  }

  &__dot {
    margin-left: 4px;
    margin-right: 4px;
  }
}
