@import "../mixins/text";
@import "../mixins/layout";
@import "../mixins/buttons";

.vote-section {
  @include section-layout;
  @include section-text($color: black);

  background-color: white;
  --gradient: white;
  --transparent-gradient: #{rgba(white, 0)};

  @include media(">=medium") {
    padding-bottom: 40px; // compensate for added margins on listen section items
  }

  &__title {
    @include section-title;

    @include media('>=medium') {
      max-width: 350px;
    }
  }

  &__blurb {
    @include wrapper($width: 816px, $padding: 0 16px);
    @include section-text;
    margin-bottom: 24px;

    @include media('>=medium') {
      margin-bottom: 64px;
    }
  }
}

.vote-tools {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &__item {
    flex-basis: 360px;
  }
}

.vote-tool {
  text-align: left;
  flex-wrap: wrap;
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }

  @include media('>=medium') {
    &:last-child {
      margin-bottom: 24px; // everything gets a margin to deal with in between media queries
    }
  }

  &__thumb {
    max-width: 88px;
  }

  &__title {
    font-family: $font-montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 8px;
  }

  &__summary {
    font-size: 14px;
    line-height: 1.57;
    margin: 0;

    @include media('>=medium') {
      font-size: 18px;
      line-height: 1.72;
    }
  }

  &__footer {
    padding-top: 16px;
    flex-basis: 100%;
  }

  &__link {
    @include btn(
      $background-color: $blue,
      $padding: 8px,
      $color: white,
      $border-radius: 20px
    );
    font-weight: 600;
  }
}
