@import "../mixins/text";
@import "../mixins/layout";
@import "../mixins/buttons";

.vote-section {
  @include section-layout;
  @include section-text($color: black);

  background-color: white;
  --gradient: white;
  --transparent-gradient: #{rgba(white, 0)};

  @include media(">=medium") {
    padding-bottom: 40px; // compensate for added margins on listen section items
  }

  &__title {
    @include section-title;
  }

  &__blurb {
    @include wrapper($width: 816px, $padding: 0 16px);
    @include section-text;
    margin-bottom: 24px;

    @include media('>=medium') {
      margin-bottom: 64px;
    }
  }
}

.vote-tools {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto 36px auto;
  max-width: 960px;

  &__item {
    flex-basis: 360px;
    margin-bottom: 50px;

    @include media(">=medium") {
      margin-bottom: 0;
    }
  }

  &__item:last-child {
    flex-basis: 340px;
    margin-bottom: 0;
  }
}

.vote-tool {
  text-align: left;
  flex-wrap: wrap;
  margin-bottom: 24px;
  display: grid;
  height: 100%;
  grid-template:
    "logo body" 1fr
    "footer footer" auto;

  &__thumb {
    max-width: 88px;
    grid-area: logo;
  }

  &__thumb svg {
    width: 88px;
    height: 88px;
  }

  &__body {
    grid-area: body;
  }

  &__title {
    font-family: $font-montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 8px;
  }

  &__summary {
    font-size: 14px;
    line-height: 1.57;
    margin: 0;

    @include media('>=medium') {
      font-size: 18px;
      line-height: 1.72;
    }
  }

  &__footer {
    flex-basis: 100%;
    grid-area: footer;
  }

  &__link {
    @include btn(
      $background-color: $blue,
      $padding: 8px,
      $color: white,
      $border-radius: 20px
    );
    font-weight: 600;
  }
}
