@import "../mixins/text";
@import "../mixins/layout";
@import "../mixins/buttons";

.vote-section {
  @include section-layout;
  @include section-text;

  background-color: $blue;
  --gradient: #{$blue};

  &__title {
    @include section-title;
  }

  &__blurb {
    @include wrapper($width: 816px, $padding: 0 16px);
    @include section-text;
    margin-bottom: 24px;

    @include media('>=medium') {
      margin-bottom: 64px;
    }
  }
}

.vote-tools {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &__item {
    flex-basis: 360px;
  }
}

.vote-tool {
  text-align: left;
  flex-wrap: wrap;
  margin-bottom: 24px;

  &__thumb {
    max-width: 88px;
  }

  &__title {
    font-family: $font-montserrat;
    font-size: 22px;
    font-weight: 600;
    font-style: italic;
    line-height: 1.36;
    color: #ffffff;
    margin-bottom: 8px;
  }

  &__summary {
    font-size: 14px;
    line-height: 1.57;
    margin: 0;

    @include media('>=medium') {
      font-size: 18px;
      line-height: 1.72;
    }
  }

  &__footer {
    padding-top: 16px;
    flex-basis: 100%;
  }

  &__link {
    @include btn(
      $background-color: white,
      $padding: 8px,
      $color: black,
      $border-radius: 20px
    );
    font-weight: 600;
  }
}
