{{#media-object as |mo|}}
  {{#mo.media class="intro-lockup__logo"}}
    <img src="/assets/images/logo.png" >
  {{/mo.media}}

  {{#mo.body class="intro-lockup__text"}}
    <h1>
      <span>NYC</span>
      <span>Midterms</span>
    </h1>

    <p class="intro-lockup__subhead">
      Essential Midterms Coverage from WNYC + Gothamist
    </p>
  {{/mo.body}}
{{/media-object}}

<div class="intro-lockup__footer">
  <p class="intro-lockup__subhead">
    Essential Midterms Coverage from WNYC + Gothamist
  </p>
</div>
