<div class="hearken-q-and-a__producer-block">
  <h2 class="hearken-q-and-a__producer-block-title">
    <span>Our Latest</span>
  </h2>
  <h2 class="hearken-q-and-a__producer-block-title2">Question</h2>
  <h2 class="hearken-q-and-a__producer-block-title3">
    <span>Our Latest Question</span>
  </h2>
  <div class="hearken-q-and-a__chunk-wrapper">
    {{#if chunk}}
      {{{chunk.content}}}
    {{else}}
      {{fa-icon class="hearken-q-and-a__loading" icon='spinner' prefix='fas' spin=true}}
    {{/if}}
  </div>
</div>

{{yield}}
