<div class="hearken-q-and-a__producer-block">
  <div class="hearken-q-and-a__chunk-wrapper">
    {{#if chunk}}
      {{{chunk.content}}}
    {{else}}
      {{fa-icon class="hearken-q-and-a__loading" icon='spinner' prefix='fas' spin=true}}
    {{/if}}
  </div>
</div>

{{yield}}
