{{#page-section gradient=true open=true as |section|}}

  {{#section.tease}}
    <h1 class="read-section__title" id="news">
      <span>
        Election News and Analysis
      </span>
    </h1>

    {{#with sorted.firstObject as |story|}}
    <div class="read-story read-story--lead">
      {{story-tease
        data-test-story-tease=0
        featured=true
        imageUrl=(if (media 'isMedium') story.thumbnailLarge story.thumbnailSmall)
        story=story
        medium='partnersite'
        source='midtermshub'
        campaign='homepage'
      }}
    </div>
    {{/with}}
  {{/section.tease}}

  {{#section.body}}
    <div class="read-section__stories">
      {{#each (slice 1 4 sorted) as |story i|}}
      <div class="read-story">
        {{story-tease
          data-test-story-tease=i
          story=story
          medium='partnersite'
          source='midtermshub'
          campaign='homepage'
    }}
      </div>
      {{/each}}
    </div>

    <div class="read-section__footer">
      {{#link-to 'articles' class='read-section__more-link'}}Read More Stories{{/link-to}}
    </div>
  {{/section.body}}


{{/page-section}}
