{{#page-section gradient=true open=(media 'isMedium') as |section|}}

  {{#section.tease}}
    <h1 class="read-section__title" id="news">
      Latest Midterms Coverage
    </h1>

    {{#with sorted.firstObject as |story|}}
    <div class="read-story read-story--lead">
      {{story-tease
        data-test-story-tease=0
        featured=true
        imageUrl=(if (media 'isMedium') story.thumbnailLarge story.thumbnailSmall)
        story=story
      }}
    </div>
    {{/with}}
  {{/section.tease}}

  {{#section.body}}
    <div class="read-section__stories">
      {{#each (slice 1 4 sorted) as |story i|}}
      <div class="read-story">
        {{story-tease
          data-test-story-tease=i
          imageUrl=(if (media 'isMedium') story.thumbnailLarge story.thumbnailSmall)
          story=story}}
      </div>
      {{/each}}
    </div>

    <div class="read-section__footer">
      <a href="https://www.wnyc.org/articles/midterms-2018" class="read-section__more-link" target="_blank">Read More Stories</a>
    </div>
  {{/section.body}}


{{/page-section}}
