<h3 class="race-group__title">
  <span>
    {{group.title}}
  </span>
</h3>

{{race-key}}

<div class="race-group__races">
  {{#vertical-collection
    group.races
    tagName=''
    key='raceID'
    estimateHeight=50
    staticHeight=false
    bufferSize=1
    renderAll=false
    renderFromLast=false
    as |race|}}
      {{race-detail race=race}}
  {{/vertical-collection}}
</div>
