<h3 class="race-group__title">
  <span>
    {{group.title}}
  </span>
</h3>

{{race-key}}

<div class="race-group__races">
  {{#vertical-collection
    group.races
    key='raceID'
    estimateHeight=100
    bufferSize=2
    as |race|}}
    {{#liquid-bind race.totalVotes}}
      {{race-detail race=race}}
    {{/liquid-bind}}
  {{/vertical-collection}}
</div>
