<div class="site-footer__wrapper">
  <div class="site-footer__brand">
    <img src="/assets/images/logo.png" title="Your Voice, Your Choice logo">
  </div>

  <h1 class="site-footer__title">About Your Voice, Your Choice</h1>

  <div class="site-footer__top">
    <p class="site-footer__blurb">
      The 2018 Midterm Voter guide is the home for independent journalism and courageous conversation on air and online. Broadcasting live from New York City on 93.9 FM and AM 820 and available online and on the go.
    </p>

    <div class="site-footer__logos">
      <div class="site-footer__logo">
        <a href="http://gothamist.com" target="_blank">
          {{nypr-svg icon="gothamist-logo" className="gothamist"}}
        </a>
      </div>
      <div class="site-footer__logo">
        <a href="https://www.wnyc.org" target="_blank">
          {{nypr-svg icon="wnyc-logo" className="wnyc"}}
        </a>
      </div>
      <div class="site-footer__logo">
        <a href="https://www.wnycstudios.org" target="_blank">
          {{nypr-svg icon="wnyc-studios-logo" className="studios"}}
        </a>
      </div>
    </div>
  </div>

  <div class="site-footer__bottom">
    <ul class="site-footer__links">
      <li class="site-footer__link">
        <a href="http://www.newyorkpublicradio.org" title="New York Public Radio">&copy; {{moment-format (now) 'YYYY'}} New York Public Radio</a>
      </li>
      <li class="site-footer__link">
        <a href="https://www.wnyc.org/terms/" target="_blank" title="Terms of Use">Terms of Use</a>
      </li>
      <li class="site-footer__link">
        <a href="https://www.wnyc.org/privacy/" target="_blank" title="Privacy Policy">Privacy Policy</a>
      </li>
      <li class="site-footer__link">
        <a href="https://www.wnyc.org/corrections/" target="_blank">Corrections</a>
      </li>
      <li class="site-footer__link">
        <a href="https://publicfiles.fcc.gov/fm-profile/wnyc-fm" title="WNYC-FM FCC Public File" target="_blank">WNYC-FM FCC Public File</a>
      </li>
      <li class="site-footer__link">
        <a href="https://media.wnyc.org/media/resources/2018/Jan/31/NYPR_2018_EEO_Public_File_Report.pdf" title="EEO Report" target="_blank">EEO Report</a>
      </li>
      <li class="site-footer__link">
        <a href="https://publicfiles.fcc.gov/am-profile/wnyc" title="WNYC-AM FCC Public File" target="_blank">WNYC-AM FCC Public File</a>
      </li>
    </ul>
  </div>
</div>
