@import "../mixins/layout";

.articles-page {
  padding: 48px 16px 0;
  max-width: 600px;
  margin: 0 auto;

  @include media(">=medium") {
    @include wrapper($width: 856px, $padding: 48px 32px 0);
  }
}

.articles-title {
  @include page-title;

  max-width: none !important;
}

.article-featured {
  margin-bottom: 8px;
}

.articles-list__item {

  .media-object__media {
    @include media('<medium') {
      display: none;
    }
  }

  padding: 24px 0;

  @include media('>=medium') {
    padding: 40px 0;
    border-bottom: 1px solid $lightgray;

    &:last-child {
      border-bottom: 0;
    }
  }

  .story-tease__footer {
    display: flex;
    align-items: center;
  }

  .story-tease__date,
  .story-tease__author {
    font-size: 12px;
    color: $darkgray;
  }
}
