.missing-page {
  padding-top: 24px;
  max-width: 1000px;
  margin: 0 0 32px;

  display: flex;
  align-items: center;

  &__left,
  &__right {
    flex: 1;
  }

  &__left {
    margin-right: 16px;
  }

  .missing-body {
    font-size: 16px;
  }
}
