{{yield (hash
  tease=(component 'page-section/tease' isOpen=isOpen gradient=gradient)
  body=(component 'page-section/body' isOpen=isOpen)
  toggleOpen=(action toggleOpen)
  isOpen=isOpen
)}}

<div class="page-section__footer">
  <button class="page-section__toggle" data-test-open-section {{action toggleOpen}}>
    {{nypr-svg icon="down-caret"}}
  </button>
</div>
