<div class="hearken-introduction">
  <h1 class="hearken-introduction__title">Ask a Reporter</h1>
  <p class="hearken-introduction__description">
    WNYC and Gothamist users had questions about how to make a difference in their neighborhoods, cities and states. We answered as many as we could before the November election. Read the answers below.
  </p>
  <a href="http://gothamist.com/2018/08/22/how_to_be_civically_engaged_nyer.php" target="_blank" rel="noopener"> Read more about how this works </a>
</div>

{{#load-more gothTag="@hearken" wNYCTag="hearken" as |results|}}
  <div class="articles-list" id="answers">
    {{#media-object class="articles-list__header" valign='c' as |mo|}}
    {{/media-object}}
    {{#each results.data as |story|}}
    <div class="articles-list__item">
      {{story-media-tease
        medium='partnersite'
        source='midtermshub'
        campaign='askareporter'
        story=story}}
    </div>
    {{/each}}
  </div>
{{/load-more}}

{{opt-in-section}}
