<div class="hearken-introduction">
  <h1 class="hearken-introduction__title">Ask a Reporter</h1>
  <p class="hearken-introduction__description">
    Have a question about how politics works, or how you can make a difference? We are reporters, and we’re good at getting answers. Read more about it
    <a href="http://gothamist.com/2018/08/22/how_to_be_civically_engaged_nyer.php"> here. </a>
  </p>
</div>

{{hearken-section slug="midterms-hearken-chunk-2"}}

{{opt-in-section}}

{{site-footer}}

{{outlet}}
