<div class="hearken-introduction">
  <h1 class="hearken-introduction__title">Ask a Reporter</h1>
  <p class="hearken-introduction__description">
    Do you have a question about how you can make a difference in your neighborhood, city or state?
    Is there anything you'd like to know about voting, the elections or how to navigate civic life
    in New York City? Ask us! Our reporters want to help you get involved by answering your questions.
  </p>
  <a href="http://gothamist.com/2018/08/22/how_to_be_civically_engaged_nyer.php"> Read more about it here. </a>
</div>

{{hearken-section slug="midterms-hearken-chunk-2"}}

{{#load-more gothTag="@hearken" wNYCTag="hearken" as |results|}}
  <div class="articles-list" id="browser">
    {{#each results.data as |story|}}
    <div class="articles-list__item">
      {{story-media-tease story=story}}
    </div>
    {{/each}}
  </div>
{{/load-more}}

{{opt-in-section}}

{{site-footer}}
