{{page-intro}}

{{#page-section class="home-hearken" as |section|}}
  {{#section.tease}}
    <h3>
      Real Answers
    </h3>
    <p>
      78% is the number of things that need to happen. lorem ipsum lorem ispsum.
    </p>
    <p>lorem ipsum lorem ipsum dolor simt amet consectetur adispicing elit se ddo eius blao.</p>
    <p>lorem ipsum lorem ipsum dolor simt amet consectetur adispicing elit se ddo eius blao.</p>
  {{/section.tease}}

  {{#section.body}}
    <h4>These are the things</h4>
    <p>lorem ipsum lorem ipsum dolor simt amet consectetur adispicing elit se ddo eius blao.</p>
    <p>lorem ipsum lorem ipsum dolor simt amet consectetur adispicing elit se ddo eius blao.</p>
    <p>lorem ipsum lorem ipsum dolor simt amet consectetur adispicing elit se ddo eius blao.</p>
    <p>lorem ipsum lorem ipsum dolor simt amet consectetur adispicing elit se ddo eius blao.</p>
    <p>lorem ipsum lorem ipsum dolor simt amet consectetur adispicing elit se ddo eius blao.</p>
  {{/section.body}}
{{/page-section}}

{{listen-section}}

{{#page-section class="home-read" as |section|}}
{{/page-section}}

{{#page-section class="home-tools" as |section|}}
{{/page-section}}
