<div class="missing-page">

  <div class="missing-page__left">
    <img src="/assets/images/404-tote.jpg" />
  </div>

  <div class="missing-page__right">
    <h2 class="missing-title">
      Sorry, this page can’t be found.
    </h2>

    <p class="missing-body">
      You may have typed the address incorrectly or you may have used an outdated link. To find our elections coverage, click {{link-to 'here' 'index'}}.
    </p>
  </div>

</div>
