<form>
  {{nypr-input
    label='Email'
    type='email'
    fieldname='signupEmail'
    placeholder='your@PrePopulatedEmail.com'
    value=changeset.email
    errors=changeset.error.email.validation
  }}

  {{nypr-input
    label='Phone Number'
    type='tel'
    fieldname='signupPhoneNumber'
    placeholder='000-000-0000'
    value=changeset.phone
    errors=changeset.error.phone.validation
  }}

  <button>Sign Up</button>
</form>
{{!--
{{#opt-in as |o|}}

  {{#o.newsletter as |newsletter|}}
    {{#newsletter.successState}}
    {{/newsletter.successState}}
  {{/o.newsletter}}

  {{#o.sms as |sms|}}
    {{#sms.successState}}
    {{/sms.successState}}
  {{/o.sms}}

  {{#o.submitButton}}
  {{/o.submitButton}}


{{/opt}}
--}}