{{#page-section gradient=true open=true as |section|}}
  {{#section.tease}}
    <h1 class="vote-section__title" id="tools">
      <span>
        Voter Tools
      </span>
    </h1>
  {{/section.tease}}

  {{#section.body}}

    <div class="vote-tools">
      <div class="vote-tools__item">
      {{#media-object tagName='article' class="vote-tool" as |mo|}}
        {{#mo.media class="vote-tool__thumb"}}
          {{nypr-svg icon="block-vote-building"}}
        {{/mo.media}}

        {{#mo.body class="vote-tool__body"}}
          <h1 class="vote-tool__title">Does Your Block Vote?</h1>

          <p class="vote-tool__summary">
            Voter turnout varies dramatically from one block to another in New York City. Gothamist investigates how each district performed.
          </p>
        {{/mo.body}}

        <div class="vote-tool__footer">
          <a href="https://project.gothamist.com/voter-turnout/?utm_medium=partnersite&utm_source=midtermshub&utm_campaign=homepage" class="vote-tool__link" target="_blank">Find Your Rating</a>
        </div>
      {{/media-object}}
      </div>

      <div class="vote-tools__item">
      {{#media-object tagName='article' class="vote-tool" as |mo|}}
        {{#mo.media class="vote-tool__thumb"}}
          {{nypr-svg icon="election-results"}}
        {{/mo.media}}

        {{#mo.body class="vote-tool__body"}}
          <h1 class="vote-tool__title">2018 Midterm Elections Results</h1>

          <p class="vote-tool__summary">
            Complete New York &amp; New Jersey midterm elections results from WNYC and Gothamist.
          </p>
        {{/mo.body}}

        <div class="vote-tool__footer">
          {{#link-to 'results' class="vote-tool__link"}}See the Results{{/link-to}}
        </div>
      {{/media-object}}
      </div>
    </div>

  {{/section.body}}
{{/page-section}}
