{{#page-section gradient=true open=true as |section|}}
  {{#section.tease}}
    <h1 class="vote-section__title" id="tools">
      <span>
        Voter Tools
      </span>
    </h1>
  {{/section.tease}}

  {{#section.body}}

    <div class="vote-tools">
      <div class="vote-tools__item">
      {{#media-object tagName='article' class="vote-tool" as |mo|}}
        {{#mo.media class="vote-tool__thumb"}}
          {{nypr-svg icon="election-guide"}}
        {{/mo.media}}

        {{#mo.body class="vote-tool__body"}}
          <h1 class="vote-tool__title">2018 Primary Voter&nbsp;Guide</h1>

          <p class="vote-tool__summary">
            WNYC, Gotham Gazette and City Limits analyze key races in this year’s New York State primary election.
          </p>
        {{/mo.body}}

        <div class="vote-tool__footer">
          {{#link-to 'voter-guide' class="vote-tool__link"}}Go to the Guide{{/link-to}}
        </div>
      {{/media-object}}
      </div>

      <div class="vote-tools__item">
      {{#media-object tagName='article' class="vote-tool" as |mo|}}
        {{#mo.media class="vote-tool__thumb"}}
          {{nypr-svg icon="calendar"}}
        {{/mo.media}}

        {{#mo.body class="vote-tool__body"}}
          <h1 class="vote-tool__title">Important Dates</h1>

          <p class="vote-tool__summary">
            <ul>
              <li>NY Voter Registration Deadline: <a href="https://elections.wnyc.org/assets/calendars/ny-deadline.ics" download>Oct.&nbsp;12,&nbsp;2018</a></li>
              <li>NJ Voter Registration Deadline: <a href="https://elections.wnyc.org/assets/calendars/nj-deadline.ics" download>Oct.&nbsp;16,&nbsp;2018</a></li>
              <li>General Election Day: <a href="https://elections.wnyc.org/assets/calendars/general.ics" download>Nov.&nbsp;6,&nbsp;2018</a></li>
            </ul>
          </p>
        {{/mo.body}}
      {{/media-object}}
      </div>

      <div class="vote-tools__item">
      {{#media-object tagName='article' class="vote-tool" as |mo|}}
        {{#mo.media class="vote-tool__thumb"}}
          {{nypr-svg icon="election-results"}}
        {{/mo.media}}

        {{#mo.body class="vote-tool__body"}}
          <h1 class="vote-tool__title">2018 NY Primary Election Results</h1>

          <p class="vote-tool__summary">
            WNYC and Gothamist bring you complete election results.
          </p>
        {{/mo.body}}

        <div class="vote-tool__footer">
          {{#link-to 'primary-results' class="vote-tool__link"}}See the Results{{/link-to}}
        </div>
      {{/media-object}}
      </div>
    </div>

  {{/section.body}}
{{/page-section}}
